#visualization_wheel {
    width: 1000px;
}
#visualization_wheel canvas {
    margin-top: -50px;
}
#legend {
    position: absolute;
    z-index: 999;
    top: 0px;
    right: 10px;
    background: #FFF;
    padding: 10px;
    display: inline-block;
}
#legend ul li {
    list-style: none;
    display: block;
    width: auto;
}
#legend ul li span {
    width: 20px;
    font-size: 2px;
    padding: 0px 10px;
    vertical-align: middle;
    margin-right: 10px;
}

.container-sort {
    border-top: 1px solid #d0d1d3;
}

#indicator-filter-wrapper {
    border-bottom: 1px solid #d0d1d3;
}


#indicator-filter-wrapper.container-sort {
    margin: 0px;
    position: static;
}
#indicator-filter-wrapper nav ul li {
    list-style: none;
    float: left;
}
#indicator-filter-wrapper .slide-content {
    display: none;
    position: absolute;
    z-index: 991;
    background: white;
    padding: 20px;
    margin-top: 10px;
    -webkit-border-radius: 4px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 4px;
    -moz-border-radius-topleft: 0;
    border-radius: 4px;
    border-top-left-radius: 0;
}
#indicator-filter-wrapper .slide-content .btns-holder {
    margin-top:20px;
}

.filter-indicator-type-text, .sort-list .active a.filter-indicator-type-text, #indicators-filters label {
    margin-left: 0px;
    font-size: 14px;
    font-family: 'HelveticaNeueW01-77BdCn 692722', arial, sans-serif;
    text-transform: uppercase;
    color: #777777;
    padding: 0px;
}
.filter-indicator-type-text span, .sort-list .active a.filter-indicator-type-text span {
    margin-right: 6px;
}
.holder select {
    width: 100%;
    line-height: 40px;
    font-size: 50px;
    padding: 10px;
}

/* vis styling */
.box-list li {
    margin: 0 10px 0 0px;
    width: 220px;
}
#visualisation-block-wrapper .widget {
    margin-top: 15px;
}
.container-box .box-content:before {
    height: auto;
}
.container-box .heading-holder {
    background: none;
}
.box-list.large .container-box .heading-holder h3 {
    font-size: 14px;
    text-align: center;
}
#visualisation-block-wrapper .heading-holder h3, #visualisation-maps-block-wrapper .heading-holder h3 {
    margin-top: 0px;
}
.container-box .heading-holder {
    margin: 0px;
    padding: 0px;
}
.box-list.large .container-box .heading-holder {
    min-height: none;
}


nav#indicators-pagination.pagination {
    margin: 0px;
}

nav#indicators-pagination .btn,
.compare-controls-nav .btn {
    padding: 4px 10px;
}

nav#indicators-pagination .btn i.glyphicon {
    font-size: 11px;
    margin-left: 5px;
}

.compare-controls-nav .btn {
    font: 14px 'HelveticaNeueW01-77BdCn 692722', arial, sans-serif;
    padding: 10px 14px;
}
.compare-controls-nav .btn i {
    margin-right: 5px;
}
.compare-controls-nav .helper {
    position: relative;
    top: -5px;
}
.compare-controls-nav .helper-popup {
    margin-top: 35px;
}

nav#indicators-pagination .btn-default,
.compare-controls-nav .btn-default {
    background: #dbdbdb;
    color: #fff;
}
nav#indicators-pagination .btn-success,
.compare-controls-nav .btn-success {
    background: #00b1b5;
    color: #FFF;
}

nav#indicators-pagination .btn-success:hover,
.compare-controls-nav .btn-success:hover {
    color: #fff;
}

nav#indicators-pagination li.active .btn-success {
    color: #FFF;
    background: #008387;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


.container-map {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.container-map h2 {
    color: #626880;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
    font-weight: bold;
}
.container-map .column {
    width: 48%;
    border: 1px solid #FFF;
    padding: 0px;
    margin-left: 2%;
}
.container-map #compare-left-map-border {
    border: 1px solid #FFF;
    padding: 0px;
    background: #99bccd;
    margin-left: 0%;
    margin-right: 2%;
}
.container-map #compare-right-map-border {
    background: #f0f0e1;
}
.container-map .column .text-box {
    display: none;
    padding: 20px;
}

.indicator-category-button {
    margin-left: 0px;
}

.sort-location .helper-popup {
    margin-left: 50px;
    margin-top: 0px;
}

#indicators-pagination {
    display: inline;
}
#indicators-pagination ul {
    margin: 0px;
}

.filter-indicator-type-inner {
    margin: 0px;
    margin-top: -10px;
}
.container-box .btn-close {
    position: absolute;
    top: 4px;
    right: 10px;
    color: #484e66;
    font-size: 14px;
}
.filter-indicator-type-dropdown {
    margin-top: 8px;
    margin-bottom: 10px;
}
.radio+.filter-indicator-type-dropdown,
.checkbox+.filter-indicator-type-dropdown,
.filter-indicator-type-dropdown+.checkbox,
.filter-indicator-type-dropdown+.filter-indicator-type-dropdown {
    margin-top: -5px;
}

.container-sort .share-col {
    text-align: right;
}
.container-sort .share-col .action-list li {
    display: inline;
    margin: 0 0 0 5px;
}
.container-sort .share-col .action-list {
    margin: 0px;
    padding: 0px;
    position: relative;
}

.fav-alert {
    display: none;
    position: fixed;
    top: 180px;
    left: 50%;
    width: 300px;
    margin-left: -150px;
}
