#visualization_wheel {
    width: 1000px;
}
#visualization_wheel canvas {
    margin-top: -50px;
}
#legend {
    position: absolute;
    z-index: 999;
    top: 0px;
    right: 10px;
    background: #FFF;
    padding: 10px;
    display: inline-block;
}
#legend ul li {
    list-style: none;
    display: block;
    width: auto;
}
#legend ul li span {
    width: 20px;
    font-size: 2px;
    padding: 0px 10px;
    vertical-align: middle;
    margin-right: 10px;
}

#indicator-filter-wrapper {
    border-bottom: 1px solid #d1d1d4;
}

#indicator-filter-wrapper.container-sort {
    margin: 0px;
}
#indicator-filter-wrapper nav ul li {
    list-style: none;
    float: left;
}
#indicator-filter-wrapper .slide-content {
    display: none;
}
.holder select {
    width: 100%;
    line-height: 40px;
    font-size: 50px;
    padding: 10px;
}

.helper-popup {
    display: none;
    position: absolute;
    top: px;
    z-index: 9999;
    padding: 10px;
    background: #3F4452;
    color: #ffffff;
    font-weight: normal;
    margin-left: 100px;
}
.helper-popup::before {
    position: absolute;
    display: inline-block;
    border-left: 0.6em solid transparent;
    border-bottom: 1.3em solid #3F4452;
    border-right: 0.6em solid transparent;
    left: 1em;
    top: -1.3em;
    content: '';

}

/* vis styling */
.box-list li {
    width: 220px;
}
#visualisation-block-wrapper .widget {
    margin-top:0px;
}
.container-box .box-content:before {
    height: auto;
}
.container-box .heading-holder {
    background: none;
}
.box-list.large .container-box .heading-holder h3 {
    font-size: 14px;
    text-align: center;
}
#visualisation-block-wrapper .heading-holder h3, #visualisation-maps-block-wrapper .heading-holder h3 {
    margin-top: 0px;
}
.container-box .heading-holder {
    margin: 0px;
    padding: 0px;
}
.box-list.large .container-box .heading-holder {
    min-height: none;
}


nav#indicators-pagination.pagination {
    margin: 0px;
}

nav#indicators-pagination .btn,
.compare-controls-nav .btn {
    padding: 4px 10px;
}

nav#indicators-pagination .btn-default,
.compare-controls-nav .btn-default {
    background: #dbdbdb;
    color: #fff;
}
nav#indicators-pagination .btn-success,
.compare-controls-nav .btn-success {
    background: #00b1b5;
}

.container-map {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.container-map h2 {
    color: #626880;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
    font-weight: bold;
}
.container-map .column {
    width: 48%;
    border: 1px solid #FFF;
    padding: 0px;
    margin-left: 2%;
}
.container-map #compare-left-map-border {
    border: 1px solid #FFF;
    padding: 0px;
    background: #99bccd;
    margin-left: 0%;
    margin-right: 2%;
}
.container-map #compare-right-map-border {
    background: #f0f0e1;
}
.container-map .column .text-box {
    display: none;
    padding: 20px;
}

.compare-controls-nav {
    padding-top: 10px;
}