.btn-success {
    background: #00b1b5;
}

.btn-success:hover {
    background: #1aa7ab;
}

#map-timeline-wrapper {
    position: relative;
}
#map-timeline {
    width: 100%;
    margin-left: 0px;
    position: relative;
    left: 0px;
}

#year-1950 {
    width: 1%;
}
.slider-year {
    width: 1%;
}

#map-slider-tooltip {
    position: absolute;
    width: 100%;
    margin: 0 0.1% 4em;
    bottom: 0px;
    left: 0;
    z-index: 1600;
}

.box-list {
    text-align: left;
}

.box-list li {
    width: 224px;
    margin: 0px 19px 0 10px;
}

.box-list li .heading-holder {
    background: none;
    border-bottom: 0px;
}
.box-list.large .container-box .heading-holder h3 {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
.container-box .heading-holder h3, #twocolumns .container-box .heading-holder h3 {
    margin: 0px;
}
.area-boxes .row-holder .container-custom .container-box, .container-custom .container-box {
    margin: 0px;
}

#map-wrapper .col-md-6 .main {
    padding: 0px;

}
#main-map {
    margin-top: 20px;
}

/* filters */
.pagination {
    margin: 0px;
}
#indicators-pagination ul {
    margin-left: -7px;
}
#indicators-pagination ul li {
    list-style: none;
    display: inline-table;
}
#indicator-filter-wrapper {
    border: 0px;
    padding-top: 14px;
}
#indicator-filter-wrapper .slide-content {
    display: none;
    position: absolute;
    z-index: 999;
    background: #f4f4f4;
    padding: 20px;
    margin-top: -14px;
    margin-left: -2px;
    -webkit-border-radius: 4px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 4px;
    -moz-border-radius-topleft: 0;
    border-radius: 4px;
    border-top-left-radius: 0;
}
#indicator-filter-wrapper .slide-content .btns-holder {
    margin-top:20px;
}
nav#indicators-pagination .btn {
    padding: 4px 8px;
    margin: 0px 5px;
    font-size: 12px;
    text-transform: uppercase;
}
nav#indicators-pagination .btn i.glyphicon {
    font-size: 11px;
    margin-left: 5px;
}

nav#indicators-pagination .btn-default,
.compare-controls-nav .btn-default {
    background: #00b1b5;
    color: #fff;
}
.compare-controls-nav .btn {
    font: 14px 'HelveticaNeueW01-77BdCn 692722', arial, sans-serif;
    padding: 10px 14px;
}

nav#indicators-pagination .btn-default:hover,
.compare-controls-nav .btn-default:hover {
    background: #1aa7ab;
}
.indicator-category-button.btn-success {
    background: #008589;
    color: #FFF;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.filter-indicator-type-text, .sort-list .active a.filter-indicator-type-text {
    margin: 0px;
}


.legend {
    font-size: 12px;
}
.legend label {
    font: 14px/24px 'HelveticaNeueW01-45Ligh',arial,sans-serif
}

p {
    margin: 0px;
}

hr {
    background: rgba(170,170,170,0.5);
    height: 1px;
    margin: 10px 0px;
}

#map-wrapper .col-md-6 {
    padding: 0px;
}
#map-wrapper .main {
    border: 0px;
}


.visualization-close {
    font-size: 10px;
    color: #979aa7;
}

#visualisation-block-wrapper .widget {
    margin-top: 20px;
}

#map-indicator-filter-wrapper .map-indicator-filter-icon {
    display: none;
}

#map-indicator-filter-wrapper {
    margin-top: 30px;
}
#map-indicator-filter-wrapper .sort-list li div {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #62697f;
    color: #FFF;
    padding: 2px 10px;
    margin-bottom: 5px;
}
#map-indicator-filter-wrapper .slide,
#map-indicator-filter-wrapper .subul {
    padding: 10px 0px;
    border: 0px;
    overflow-x: hidden;
}
#map-indicator-filter-wrapper .sort-list li label.checkbox_label {
    width: 300px;
    min-width: 300px;
    line-height: 20px;
    font: 14px 'HelveticaNeueW01-77BdCn 692722', arial, sans-serif;
    text-transform: uppercase;
    padding: 4px 10px;
}
#map-indicator-filter-wrapper .sort-list li label.checkbox_label:hover {
    background: #5b6072;
    cursor: pointer;
}

#map-indicator-filter-wrapper .sort-list li div.selector {
    width: 130px;
    min-width: 130px;
}
#map-indicator-filter-wrapper .sort-list li div.subul {
    margin-top: -4px;
    padding: 10px 0px;
}

#map-indicator-filter-wrapper .sort-list li div label.top {
    color: #FFF;
    cursor: pointer;
}
#map-indicator-filter-wrapper .sort-list li div label {
    min-width: 100px;
}
#map-indicator-filter-wrapper .sort-list li div input {
    margin-top: -4px;
    margin-right: 10px;
}
#map-indicator-filter-wrapper .sort-list li div .counts {
    display: none;
}

.filter-indicator-type-text,
.sort-list .active a.filter-indicator-type-text,
#indicators-filters label {
    text-transform: uppercase;
    font: 14px 'HelveticaNeueW02-55Roma', arial, sans-serif;
}


.filter-indicator-type-dropdown {
    margin-top: 8px;
    margin-bottom: 10px;
}
.radio+.filter-indicator-type-dropdown,
.checkbox+.filter-indicator-type-dropdown,
.filter-indicator-type-dropdown+.checkbox,
.filter-indicator-type-dropdown+.filter-indicator-type-dropdown {
    margin-top: -5px;
}

#indicators-filters .glyphicon {
    margin-right: 5px;
}


.filter-indicator-type-inner {
    margin: 0px;
    margin-top: -10px;
}


.fav-alert {
    display: none;
    position: fixed;
    top: 180px;
    left: 50%;
    width: 300px;
    margin-left: -150px;
}

.legend-h4 {
    font-size: 100%;
}

.sort-holder {
    padding-bottom: 1px;
}

.container-sort.sort-columns {
    margin: 0px;
}

#indicator-filter-wrapper {
    padding-top: 0px;
}
#indicators-pagination ul {
    margin-bottom: 0px;
}
