#main {
    padding: 0px;
}
#main .main-container {
    text-align: middle;
}
#main .main-container .main-block {
    max-width: 1202px;
    margin: 20px auto;
    display: block-inline;
    background: #f5f5e6;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}


.heading-container .container-custom h1 {
    color: #00b1b4;
    font: 80px 'HelveticaNeueW01-77BdCn 692722',arial,sans-serif;
    text-transform: uppercase;
    border-bottom: 1px #00b1b4 dotted;
}
.heading-container .container-custom p {
    color: #c7c7be;
    font: 25px 'HelveticaNeueW01-77BdCn 692722',arial,sans-serif;
    text-transform: uppercase;
    border-bottom: 1px #00b1b4 dotted;
    padding-bottom: 10px;
}
.heading-container .container-custom p.description {
    color: #8a8b85;
    font-size: 18px;
    text-transform: none;
}

.box-list li {
    width: 500px;
}
.box-list .container-box .box-content:before {
    display: none; 
}

.box-list  .container-box {
    margin: 0px;
}

.box-list  .container-box .heading-holder {
    color: #00b1b4;
    border: 0px;
    background: none;
}

.box-list .heading-holder h3 {
    font: 10px 'HelveticaNeueW01-77BdCn 692722',arial,sans-serif;
    text-transform: uppercase;
}
.box-list .container-box .heading-holder {
    min-height: 30px;
}

.box-list .container-box .box-content a {
    display: none;
}

#visualisation-block-wrapper .widget {
    margin-top: 10px;
}

#visualisation-maps-block-wrapper.box-list .container-box .box-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0px;
    background: none;
}


/*.data-col {
    border-right:  1px #00b1b4 dotted;
}*/

.data-col h2.bordered {
    margin-top: 30px;
    border-top: 1px #00b1b4 dotted;
    padding-top: 20px;
}

.data-col h2 {
    color: #00b1b4;
    font: 40px 'HelveticaNeueW01-77BdCn 692722',arial,sans-serif;
    text-transform: uppercase;
}
.data-col .box-list {
    text-align: left;
}
.data-col .box-list.large .container-box .heading-holder {
    min-height: 30px;
}

.data-col h2, .data-col ul {
    display: none;
}
.box-list.large .container-box .heading-holder h3 {
    font-size: 15px;
    min-height: 20px;
}

.container-box .heading-holder h3, #twocolumns .container-box .heading-holder h3 {
    margin: 0px;
}
.box-list.large .container-box .heading-holder {
    min-height: 20px;
    margin-top: 15px;
}

.btn-primary, .btn-primary:hover {
    background: #008ccb;
}

.btn-default, .btn-default:hover {
    background: #ebebeb;
}

.btn-success, .btn-success:hover {
    background: #85b200
}

.ci-controls {
    padding: 10px;
}
.ci-controls .col-md-4 {
    text-align: right;
}
.save-infographic {
    margin-left: 25px;
}
.save_btn {
    margin-right: 19px;
}

/** LEGEND **/

.data-col ul.bar-legend {
    margin-top: 20px;
    display: block;
}
.box-list ul.bar-legend li {
    text-align: left;
    width: auto;
    display: block;
    margin-bottom: 10px;
}
.box-list ul.bar-legend li span {
    padding: 2px 10px;
    margin-right: 5px;
}
