#main-map{
	height: 634px;
}

.urbnnrs-geo-map .dropdown{
	z-index: 9999;
    margin-right: 20px;
}

.filter-page{
	display: none;
}

.filter-page.filter-page-1{
	display: block;
}

.pagination-btn-previous{
	min-width: 78px;
}

.pagination-btn-next{
	min-width: 47px;
}

.country-marker-icon{
  background: url("../images/value-marker-icon.png");
  text-align: center;
  padding-right: 6px;
  padding-top: 6px;
  font-weight: bold;
  color: #004B77;
}

#map-wrapper{
  position: relative;
}

.vis-box-note{
  font-size: 0.8em;
}


/* year blocks */
#map-timeline-wrapper{
  position: absolute;
  height: 2em;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 997;
}

.timeline-cpi{
  display: none;
}

#map-timeline{
  position: absolute;
  width: 1416px;
  left: 50%;
  margin-left:-708px;
  bottom:0;
  height:2em;
  padding: 0;
}

#timeline-left, #timeline-right{
  position: absolute;
  width: 50%;
  background-color: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  opacity: 0.4;
  height: 2em;
  display:block;
  overflow: hidden;
}

#timeline-left{
  left: 0;
  margin-left:-708px;
}

#timeline-right{
  right: 0;
  margin-right:-708px;
}

#map-slider-left-filler{

}

.slider-year{
  display:inline-block;
  background-color: #000;
  height: 100%;
  width:14px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  opacity: 0.4;
}

.slider-year.active{
  background-color: #B20000;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}

.slider-year-inner-left{
  background-color: #FFF;
  width: 2px;
  float: left;
  height:100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7;
}

#year-1950{
  width: 16px;
}

.slider-year-inner-white{
  background-color: #FFF;
  width: 2px;
  float: right;
  height:100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7;
}

.slider-active{
  background-color:#D3F101;
}

.slider-year.slider-active.active{
  background-color: #D3F101;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}

/* the real slider tooltip drawing */
#map-slider-tooltip{
  position: absolute;
  width: 99%;
  margin:0 0.5% 4em;
  bottom: 2em;
  left: 0;
  z-index: 1600;
}

#map-slider-tooltip a{
  position: absolute;
}

#map-slider-tooltip a > div{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  font-family: 'HelveticaNeueW01-75Bold';
  color: #FFF;
  font-size: 2em;
  z-index: 2;
  padding: 0.7em;
  background: url('../images/slider-urban-nrs.png') top left no-repeat;
  width: 150px;
  height: 85px;
  margin-left: -73px;
  margin-top: -10px;
  text-align: center;
}


#visualisation-block-wrapper .widget{
  width: 100%;
  height: 100%;
  margin-top: 35px;
}

.container-box .btn-vis-zoom,.container-box .btn-vis-save{
  color: #484e66;
  position: absolute;
  top: 4px;
  z-index: 2;
}

.container-box .btn-vis-zoom{
  left: 15px;
}


.container-box .btn-vis-save{

  left: 38px;
}

.container-box .btn-vis-zoom:hover,.container-box .btn-vis-save:hover, .container-box .glyphicon-remove:hover{
  color: #00b2b3;
}

.urbnnrs-arrow {
  border-left: 4px solid;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  vertical-align: middle;
  margin-right: 13px;
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 6px;
}

.urbnnrs-arrow-active{
  border-bottom: 0px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-top: 6px solid;
  margin-right: 7px;
}

.filter-indicator-type-text, .sort-list .active a.filter-indicator-type-text{
  font-size: 18px;
  color: #5f667f;
  padding-bottom: 5px;
  line-height: 24px;
  margin-left: -19px;
  display: block;

}

.filter-indicator-type-inner{
  display: none;
  padding-left:20px;
  margin: 7px 0;
}

.container-sort{
  z-index: 2000;
}

.indicator-category-button{
  margin-left: 12px;
  margin-right: 12px;
}

@media (min-width: 980px) and (max-width: 1439px) {

	.slider-year-inner-left, .slider-year-inner-white{
	  width: 1px;
	}

	#year-1950{
	  width: 10px;
	}

	.slider-year{
	  width: 9px;
	}

	#map-timeline{
	  width: 910px;
	  left: 50%;
	  margin-left:-455px;
	}

	#timeline-left, #timeline-right{
	  min-height: 4em;
	  overflow: hidden;
	  width: 50%;
	  background-color: #000;
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	  filter: alpha(opacity=40);
	  opacity: 0.4;
	}

	#timeline-left{
	  left:0;
	  margin-left:-455px;
	}

	#timeline-right{
	  right: 0;
	  margin-right:-455px;
	}

}


@media (max-width: 979px) { 

	#year-1950{
		width: 8px;
	}

	.slider-year-inner-left, .slider-year-inner-white{
		width: 1px;
	}

	.slider-year{
		width: 7px;
	}

	#map-timeline{
		width: 708px;
		left: 50%;
		margin-left:-354px;
	}

	#timeline-left{
		left:0;
		margin-left:-354px;
	}

	#timeline-right{
		right: 0;
		margin-right:-354px;
	}

}



/* Portrait tablet to landscape and desktop */
@media (max-width: 760px) { 

	#year-1950{
		width: 6px;
	}

	.slider-year-inner-left, .slider-year-inner-white{
		width: 1px;
	}

	.slider-year{
		width: 5px;
	}

	#map-timeline{
		width: 506px;
		left: 50%;
		margin-left:-253px;
	}

	#timeline-left{
		left:0;
		margin-left:-253px;
	}

	#timeline-right{
		right: 0;
		margin-right:-253px;
	}

}    
   



/* LOGIN */

#urbannumbers-login, #urbannumbers-lostpassword, #urbannumbers-register{
  width:800px;
  /*height: 500px;*/
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  background-color: #4b4d54;
  z-index: 9999;
  padding: 1.5em 2em;
  margin-left:auto;
  margin-right:auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(41,41,41,1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(41,41,41,1);
  box-shadow: 0px 0px 15px 0px rgba(41,41,41,1);
}

#urbannumbers-login h1, #urbannumbers-register h1 {
    color: #FFF;
    font: 180% 'HelveticaNeueW01-77BdCn 692722',arial,sans-serif;
    padding-bottom: 15px;
    border-bottom: 1px dotted #fff;
}
#urbannumbers-login .bttns {
    margin-top: 40px;
    height: 80px;
    margin-bottom: 10px;
}
#urbannumbers-login .bttns a {
    padding: 15px;
    background: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    min-width: 200px;
    display: inline-block;
    font: 120% 'HelveticaNeueW01-77BdCn 692722',arial,sans-serif;

}
#urbannumbers-login .register {
    padding-top: 10px;
    border-top: 1px dotted #fff;
}
#urbannumbers-login .register a {
    border-bottom: 1px solid #00b2b3;
}

#wp-social-login-connect-with {
    display: none;
}

#urbannumbers-register label {
    color: #b7b8bb
}
#urbannumbers-register .form-horizontal .form-group {
    margin: 0px;
}
#urbannumbers-register .alert {
    display: none;
}
#urbannumbers-register input {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#urbannumbers-register .form-group {
    padding-bottom: 20px;
}
#urbannumbers-register .btn-primary {
    background: #4a959a;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#sidebar-wp-submit{
  background-color: #ccc;
}

#hoover-wrapper{
  display: none;
  background-color: #333;
  opacity: 0.7;
  width: 100%;
  height: 9999px;
  position: absolute;
  z-index: 9998;
}

#urbannumbers-login .glyphicon-remove, #urbannumbers-lostpassword .glyphicon-remove, #urbannumbers-register .glyphicon-remove{
  float: right;
  color: #a5a6aa;
}

.filter-error-msg{
  padding: 7px 12px 8px;
  color: red;
}

#header{
  z-index: 2100;
}

#lost-password-login{
  display: block;
  margin: 24px 0;
}

.city-compare-wrapper .main{
  border-bottom: 0;
}


#visualisation-block-wrapper .heading-holder h3, #visualisation-maps-block-wrapper .heading-holder h3{
  margin-top: 10px;
}

.wiki-read-more-hidden{
  display: none;
}

.city-wikipedia-disclaimer{
  margin-top: 20px;
}



#compare-left-map-border{
  /*background:url(../images/bg-noise.png);*/
  background:#626882 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyNjg4MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODJjMzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background:-moz-linear-gradient(top,  #626882 0%, #282c38 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#626882), color-stop(100%,#282c38));
  background:-webkit-linear-gradient(top,  #626882 0%,#282c38 100%);
  background:-o-linear-gradient(top,  #626882 0%,#282c38 100%);
  background:-ms-linear-gradient(top,  #626882 0%,#282c38 100%);
  background:linear-gradient(to bottom,  #626882 0%,#282c38 100%);
  padding-right: 5px;
}

#compare-right-map-border{
  /*background:url(../images/bg-noise.png);*/
  background:#626882 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyNjg4MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODJjMzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background:-moz-linear-gradient(top,  #626882 0%, #282c38 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#626882), color-stop(100%,#282c38));
  background:-webkit-linear-gradient(top,  #626882 0%,#282c38 100%);
  background:-o-linear-gradient(top,  #626882 0%,#282c38 100%);
  background:-ms-linear-gradient(top,  #626882 0%,#282c38 100%);
  background:linear-gradient(to bottom,  #626882 0%,#282c38 100%);

}


.grayed-and-inactive {
  -webkit-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#01FFFFFF,endColorstr=#01FFFFFF) gray;
  zoom: 1;
  pointer-events: none;
}
/*
.grayed-and-inactive:hover {
-webkit-filter: grayscale(0);
-moz-filter: grayscale(0);
-ms-filter: grayscale(0);
-o-filter: grayscale(0);
filter: grayscale(0);
filter: none;
cursor: pointer;
}*/

form.registration-form span.input-placeholder-text {
    margin-top: 7px;
    margin-left: 15px;
}

#header.nav_my_account .btn .caret {
    color: #FFF;
}
#header.nav_my_account .btn-group .btn-blue {
    background: #56C6C8;
    text-shadow: none;
}

#header.nav_my_account .add-nav .dropdown-menu a {
    background: #56C6C8;
}

#header.nav_my_account  .add-nav .img-wrap i {
    color: #FFF;
}

#header..nav_my_account .add-nav .btn {
    text-shadow: none;
}

.infobox-container {
    background: none;
    padding: 0px;
    min-height: 166px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
} 
.infobox-container.box-container .columns-holder .column {
    width: 12.5%;
    min-width: 100px;
    max-width: 100px;
}
.infobox-container.box-container .columns-holder .column label {
    margin: 10px 0px;
    min-width: 100px;
}
.infobox-container.box-container .columns-holder .column canvas {
    margin-bottom: 20px;
}
.infobox-container.box-container .columns-holder .column div.info-overlay {
    position: relative;
    top: -75px;
}
.container-map .check-row.home-info-controls label i.icon-pin {
    width:20px;
    line-height: 25px;
    margin-top: 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.container-map .check-row.home-info-controls label i.icon-pin.cpi {
    background: #FFBF00;
}
.container-map .check-row.home-info-controls label i.icon-pin.slum {
    background: #A3D900;
}
.container-map .check-row.home-info-controls label i.icon-pin.pub {
    background: #0074EC;
}

.icon-cog {
    background: url('../images/sprite.fw.png') no-repeat;
    background-position: 745px 170px;
}


.dashboard h3 {
    font-size: 20px;
    font-weight: bold;
    color: #434659;
    line-height: 30px;
    border-bottom: 1px solid #00b2b3;
}

.my-infographics li {
    text-align: left;
    list-style: none;
}

.my-infographics th, .my-infographics td {
    border: 0px;
    text-align: left;
    font-size: 14px;
}

.my-infographics th a {
    font-size: 12px;
    color: grey
}

#map-indicator-filter-wrapper {
    position: absolute;
    z-index: 998;
    top: 10px;
    left: 10px;
    min-width: 310px;
    line-height: 25px;
}

#map-indicator-filter-wrapper .map-indicator-header {
    background: #00b1b5;
    padding: 5px 10px;
    width: 300px;
    cursor: pointer;
}

#map-indicator-filter-wrapper .map-indicator-header a {
    color: #FFF;
    font: 15px 'HelveticaNeueW01-77BdCn 692722',arial,sans-serif;
}
#map-indicator-filter-wrapper .map-indicator-header a i {
    margin-right: 10px;
}

#map-indicator-filter-wrapper .map-indicator-header a.reset-button.btn {
    padding: 2px 10px;
    float: right;
    background: #138A8C;
    color: #316266;
    font: 14px/21px 'HelveticaNeueW02-55Roma',arial,sans-serif;
}

#map-indicator-filter-wrapper .sort-list {
    /*display: none;*/
    padding: 0px;
    max-height: 540px;
    overflow-y: auto;
}

#map-indicator-filter-wrapper .sort-list li {
    display: block;
    min-width: 310px;
    width: 310px;
    line-height: 22px;
    padding: 0px;
    margin: 0px;
    text-align: left;
    margin-top: 1px;
}
#map-indicator-filter-wrapper .sort-list li div {
    min-width: 300px;
    width: 300px;
    background: #FFF;
    padding: 5px 10px;
}

#map-indicator-filter-wrapper .sort-list li div label {
    min-width: 110px;
    vertical-align: -webkit-baseline-middle;
}
#map-indicator-filter-wrapper .sort-list li div .glyphicon {
    font-size: 8px;
    color: #A7AFBA;
}

#map-indicator-filter-wrapper .sort-list li div .counts {

    color: #A7AFBA;
    font: 12px 'HelveticaNeueW01-77BdCn 692722',arial,sans-serif;
    margin-top: -5px;
    margin-left: 15px;
}

#map-indicator-filter-wrapper .sort-list li div label.top {
    font: 14px 'HelveticaNeueW01-77BdCn 692722',arial,sans-serif;
    text-transform: uppercase;
    color: #A7AFBA;
}

#map-indicator-filter-wrapper .slide, #map-indicator-filter-wrapper .subul {
    margin-left: 0px;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    border-right: 8px solid #FFF;
}


#map-indicator-filter-wrapper .subul li {
    display: block;
    min-width: 298px;
    line-height: 25px;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    text-align: left;
    margin-top: 2px;
}
#map-indicator-filter-wrapper .subul li div {
    border-left: 1px solid #FFF;
    background: #EEEEEE;
}


#map-indicator-filter-wrapper .subul li div input {
    margin-right: 15px;
}

#map-indicator-filter-wrapper .subul li .subul {
    border-right: 0px;
}
#map-indicator-filter-wrapper .sort-list li ul.subul li div label {
    min-width: 230px;
    margin-left: 15px;
}
#map-indicator-filter-wrapper .subul li .subul div {
    background: #DDDDDD;
    border-right: 0px;
}

#map-indicator-filter-wrapper .subul li .subul div input {
    margin-left: 15px;
}


.map-indicator-filter-icon {
    border: 10px solid #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    line-height: 10px;
    font-size: 1px;
    margin-top: -5px;
    margin-right: 15px;
}

.map-indicator-filter-icon.icon-blue {
    border-color: #1783FB;
}
.map-indicator-filter-icon.icon-green {
    border-color: #A4D72A;
}
.map-indicator-filter-icon.icon-yellow {
    border-color: #FDBE2C;
}
.visual .text-holder>.btn {
    background: #56C6C8;
}


.container-sort.share-hover {
    position: absolute;
    width: 60px;
    right: 130px;
    padding: 3px 0 3px;
    top: 17px;
    z-index: 9999;
    border-bottom: 0px;
    background: linear-gradient(to bottom, #626882 0%,#383d4d 100%);
    border-radius: 4px;
}
.container-sort.share-hover:after {
    display: none;
}

.container-sort.share-hover .action-list {
    right: 0px;
    margin-left: 5px;
    width: 40px;
    position: relative;
    padding: 0px;
    margin-top: 0px;
    font: 11px/21px 'HelveticaNeueW02-55Roma',arial,sans-serif;
    text-align: right;
}

.container-sort.share-hover .action-list a {
    color: #FFF;
    font-weight: normal;
}
.container-sort.share-hover .action-list a i.icon-share {
    display: none;
}

.container-custom.description p, .container-custom.description h2 {
    padding: 0px 17px;
}