#main-map{
	height: 634px;
}

.urbnnrs-geo-map .dropdown{
	z-index: 9999;
}

.filter-page{
	display: none;
}

.filter-page.filter-page-1{
	display: block;
}

.pagination-btn-previous{
	min-width: 78px;
}

.pagination-btn-next{
	min-width: 47px;
}

.country-marker-icon{
  background: url("../images/value-marker-icon.png");
  text-align: center;
  padding-right: 6px;
  padding-top: 6px;
  font-weight: bold;
  color: #004B77;
}

#map-wrapper{
  position: relative;
}

.vis-box-note{
  font-size: 0.8em;
}


/* year blocks */
#map-timeline-wrapper{
  position: absolute;
  height: 4em;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1500;
}

.timeline-cpi{
  display: none;
}

#map-timeline{
  position: absolute;
  width: 1416px;
  left: 50%;
  margin-left:-708px;
  bottom:0;
  height:4em;
  padding: 0;
}

#timeline-left, #timeline-right{
  position: absolute;
  width: 50%;
  background-color: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  opacity: 0.4;
  height: 4em;
  display:block;
  overflow: hidden;
}

#timeline-left{
  left: 0;
  margin-left:-708px;
}

#timeline-right{
  right: 0;
  margin-right:-708px;
}

#map-slider-left-filler{

}

.slider-year{
  display:inline-block;
  background-color: #000;
  height: 100%;
  width:14px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  opacity: 0.4;
}

.slider-year.active{
  background-color: #B20000;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}

.slider-year-inner-left{
  background-color: #FFF;
  width: 2px;
  float: left;
  height:100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7;
}

#year-1950{
  width: 16px;
}

.slider-year-inner-white{
  background-color: #FFF;
  width: 2px;
  float: right;
  height:100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7;
}

.slider-active{
  background-color:#D3F101;
}

.slider-year.slider-active.active{
  background-color: #D3F101;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}

/* the real slider tooltip drawing */
#map-slider-tooltip{
  position: absolute;
  width: 99%;
  margin:0 0.5% 4em;
  bottom: 4em;
  left: 0;
  z-index: 1600;
}

#map-slider-tooltip a{
  position: absolute;
}

#map-slider-tooltip a > div{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  font-family: 'HelveticaNeueW01-75Bold';
  margin-left: -1.68em;
  bottom:0.4em;
  border: 1px solid #D3D3D3;
  background-color: white;
  color: #505D59;
  font-size: 1.7em;
  z-index: 2;
  padding: 0.5em;

   -webkit-box-shadow:0 6px 9px rgba(0, 0, 0, 0.7);
   -moz-box-shadow:0 6px 9px rgba(0, 0, 0, 0.7);
   box-shadow:0 6px 9px rgba(0, 0, 0, 0.7);
}

#map-slider-tooltip a > div:before {
  position: absolute;
  display: inline-block;
  border-left: 0.6em solid transparent;
  border-top: 1.3em solid #FFF;
  border-right: 0.6em solid transparent;
  left: -0.62em;
  top: 1.6em;
  content: '';

}

#visualisation-block-wrapper .widget{
  width: 100%;
  height: 100%;
}

.container-box .btn-vis-zoom,.container-box .btn-vis-save{
  color: #484e66;
  position: absolute;
  top: 4px;
  z-index: 2;
}

.container-box .btn-vis-zoom{
  left: 15px;
}


.container-box .btn-vis-save{

  left: 38px;
}

.container-box .btn-vis-zoom:hover,.container-box .btn-vis-save:hover, .container-box .glyphicon-remove:hover{
  color: #00b2b3;
}

.urbnnrs-arrow-active{
  border-bottom: 4px solid;
}

.urbnnrs-arrow{
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  vertical-align: middle;
  margin-right:7px;
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 6px;
}

.filter-indicator-type-text, .sort-list .active a.filter-indicator-type-text{
  font-size: 18px;
  color: #5f667f;
  padding-bottom: 5px;
  line-height: 24px;
  margin-left: -19px;
  display: block;

}

.filter-indicator-type-inner{
  display: none;
  padding-left:20px;
  margin: 7px 0;
}

.container-sort{
  z-index: 2000;
}

.indicator-category-button{
  margin-left: 12px;
  margin-right: 12px;
}

@media (min-width: 980px) and (max-width: 1439px) {

	.slider-year-inner-left, .slider-year-inner-white{
	  width: 1px;
	}

	#year-1950{
	  width: 10px;
	}

	.slider-year{
	  width: 9px;
	}

	#map-timeline{
	  width: 910px;
	  left: 50%;
	  margin-left:-455px;
	}

	#timeline-left, #timeline-right{
	  min-height: 4em;
	  overflow: hidden;
	  width: 50%;
	  background-color: #000;
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	  filter: alpha(opacity=40);
	  opacity: 0.4;
	}

	#timeline-left{
	  left:0;
	  margin-left:-455px;
	}

	#timeline-right{
	  right: 0;
	  margin-right:-455px;
	}

}


@media (max-width: 979px) { 

	#year-1950{
		width: 8px;
	}

	.slider-year-inner-left, .slider-year-inner-white{
		width: 1px;
	}

	.slider-year{
		width: 7px;
	}

	#map-timeline{
		width: 708px;
		left: 50%;
		margin-left:-354px;
	}

	#timeline-left{
		left:0;
		margin-left:-354px;
	}

	#timeline-right{
		right: 0;
		margin-right:-354px;
	}

}



/* Portrait tablet to landscape and desktop */
@media (max-width: 760px) { 

	#year-1950{
		width: 6px;
	}

	.slider-year-inner-left, .slider-year-inner-white{
		width: 1px;
	}

	.slider-year{
		width: 5px;
	}

	#map-timeline{
		width: 506px;
		left: 50%;
		margin-left:-253px;
	}

	#timeline-left{
		left:0;
		margin-left:-253px;
	}

	#timeline-right{
		right: 0;
		margin-right:-253px;
	}

}    
   



/* LOGIN */

#urbannumbers-login, #urbannumbers-lostpassword, #urbannumbers-register{
  width:500px;
  height: 500px;
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 9999;
  padding: 4em;
  margin-left:auto;
    margin-right:auto;
}

#urbannumbers-register{
  height: 600px;
}

#sidebar-wp-submit{
  background-color: #ccc;
}

#hoover-wrapper{
  display: none;
  background-color: #333;
  opacity: 0.7;
  width: 100%;
  height: 9999px;
  position: absolute;
  z-index: 9998;
}

#urbannumbers-login .glyphicon-remove, #urbannumbers-lostpassword .glyphicon-remove, #urbannumbers-register .glyphicon-remove{
  position: absolute;
  top: 20px;
  right: 20px;
}

.filter-error-msg{
  padding: 7px 12px 8px;
  color: red;
}

#header{
  z-index: 2100;
}

#lost-password-login{
  display: block;
  margin: 24px 0;
}

.city-compare-wrapper .main{
  border-bottom: 0;
}


#visualisation-block-wrapper .heading-holder h3, #visualisation-maps-block-wrapper .heading-holder h3{
  margin-top: 10px;
}

.wiki-read-more-hidden{
  display: none;
}

.city-wikipedia-disclaimer{
  margin-top: 20px;
}



#compare-left-map-border{
  /*background:url(../images/bg-noise.png);*/
  background:#626882 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyNjg4MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODJjMzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background:-moz-linear-gradient(top,  #626882 0%, #282c38 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#626882), color-stop(100%,#282c38));
  background:-webkit-linear-gradient(top,  #626882 0%,#282c38 100%);
  background:-o-linear-gradient(top,  #626882 0%,#282c38 100%);
  background:-ms-linear-gradient(top,  #626882 0%,#282c38 100%);
  background:linear-gradient(to bottom,  #626882 0%,#282c38 100%);
  padding-right: 5px;
}

#compare-right-map-border{
  /*background:url(../images/bg-noise.png);*/
  background:#626882 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyNjg4MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODJjMzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background:-moz-linear-gradient(top,  #626882 0%, #282c38 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#626882), color-stop(100%,#282c38));
  background:-webkit-linear-gradient(top,  #626882 0%,#282c38 100%);
  background:-o-linear-gradient(top,  #626882 0%,#282c38 100%);
  background:-ms-linear-gradient(top,  #626882 0%,#282c38 100%);
  background:linear-gradient(to bottom,  #626882 0%,#282c38 100%);
  padding-left: 5px;
}


.grayed-and-inactive {
  -webkit-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#01FFFFFF,endColorstr=#01FFFFFF) gray;
  zoom: 1;
  pointer-events: none;
}
/*
.grayed-and-inactive:hover {
-webkit-filter: grayscale(0);
-moz-filter: grayscale(0);
-ms-filter: grayscale(0);
-o-filter: grayscale(0);
filter: grayscale(0);
filter: none;
cursor: pointer;
}*/